.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Portfolio {
  width: 100%;
  height: 100%;
  margin: 2em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "portfolio-text portfolio-myImage";
}

.portfolio-text {
  padding: 2em;
  width: auto;
  padding-top: 10%;
  grid-area: portfolio-text;
}

.portfolio-text h3 {
}

.portfolio-text p {
  padding: 1em 0;
}
.portfolio-text .btn-info {
    
}
.portfolio-myImage {
  grid-area: portfolio-myImage;
  background-color: transparent;
}
